package-lock=true
shrinkwrap=false
_auth = YXJ0aWZhY3QtdXBsb2FkZXI6QVAycWhqd2lTQW9KbXdjU2p5S1Z6dzliN2RZWmZTc2tmc2toNUg=
email = artifact-uploader@centricsoftware.com
always-auth = true
registry=https://centricsoftware.jfrog.io/centricsoftware/api/npm/npm/